*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-size:18px;
	font-family: 'Roboto';
}

/*! ESTILOS GENERALES */
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding:50px 0;
}
.subtitulo{
	font-size:1.7em;
	text-transform: uppercase;
	color: #0048FF;
	margin-bottom:50px;
}
.contacto{
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	padding:10px 20px;
	background: #0050FF;
	border:2px solid #0050FF;
	border-radius: 5px;
}
.contacto:hover{
	background:transparent;
	border:2px solid #0050FF;
}
.contacto:active{
	border:2px solid #0032ff;
}
.txt-center{
	text-align: center;
}

/*! HEADER ADORNOS */
.adorno{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.adorno-1{
	top: 20%;
	left: -5%;
	background: linear-gradient(to right, red 40%, orange);
	animation: palpitar 1s infinite linear;
}
.adorno-2{
	top: 50%;
	right: -5%;
	background: linear-gradient(45deg, green 30%, blue);
	animation: palpitar 1s infinite linear;
}
.adorno-3{
	width:150px;
	height:150px;
	top: 10%;
	left: 80%;
	background: linear-gradient(30deg, purple 30%, lightsalmon);
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	animation: girar 5s infinite linear;
}
.adorno-4{
	width:150px;
	height:150px;
	top: calc(90% - 150px);
	left: 10%;
	background: linear-gradient(30deg, #00DEFF 30%, #00FF00);
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	animation: girar 5s infinite linear reverse;
}

@keyframes girar{
	100%{
		transform:rotate(360deg);
	}
}
@keyframes palpitar{
	50%{
		transform:scale(0.96);
	}
	100%{
		transform:scale(1);
	}
}

/*! HEADER */
.header{
	position: relative;
	height: 100vh;
	background: #000;
	overflow: hidden;
}

/*! HEADER NAVBAR */
.navbar{
	position:fixed;
	right:10;
	top:0;
	width:100%;
	height:50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 1000;
	transition:all .2s;
}
.navbar.abajo{
	background: #111;
	height:60px;
}

/** Navbar hamburguesa dispositivos moviles */
.hamburguesa{
	display: none;
	position: absolute;
	right: 50px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}

/*! MENU NORMAL */
.menu .menu__item{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin-right:20px;
	padding: 0 20px;
	line-height: 50px;
	border-radius: 2px;
	letter-spacing: 1px;
	transition: .2s;
}
.menu .menu__item:hover{
	background: rgba(50,50,50);
}
/** menu-cta */
.menu .menu__item-cta{
	background:#000;
	padding: 0 20px;
	position: relative;
	line-height: 46px;
}
.menu .menu__item-cta::after{ /*? Borde del boton cta*/
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(30deg, red, orange);
	z-index: -1;
}
.menu.abajo .menu__item-cta{
	background:#111;
}
.menu.abajo .menu__item-cta:hover{
	background: rgba(50,50,50);
}

/*! MENU DISPOSITIVOS MOVILES */
.menu-mobile{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #111;
	z-index: 1000;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	clip-path: circle(0px at 50% 0%);
	transition: .3s;
}
.menu-mobile.activo{
	clip-path: circle(100vmax at 50% 50%);
}
.menu-mobile .menu__item{
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	letter-spacing: 2px;
	transition: .3s;
}
.menu-mobile .menu__item:hover{
	background: rgba(100,100,100,.5);
}
.menu-mobile .cerrar{
	color: #fff;
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 50px;
}

/*! HEADER CONTENIDO */
.header__contenido{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header__titulo, .header__subtitulo{
	color: #fff;
	margin-bottom: 30px;
}
.header__titulo{
	font-size: 3em;
}
.header__subtitulo{
	font-size: 2em;
}

/*! PRESENTACION */
.presentacion__contenido{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.presentacion__img{
	width: 40%;
}
.presentacion__textos{
	width: 50%;
}
.presentacion__textos p{
	text-align: justify;
	margin-bottom: 20px;
	line-height: 1.7em;
}
.presentacion__textos p:last-child{
	margin-bottom: 0;
}

/*! TECNOLOGÍAS */
.tecnologias{
	background: #ccc;
}
.tecnologias__contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.tecnologia{
	width: 33%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.tecnologia__imagen{
	background: #eee;
	padding: 20px;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 0 10px #aaa;
	border-radius: 5px;
	overflow: hidden;
}
.tecnologia__img{
	width: 80%;
}
.tecnologia__imagen-detras{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: .3s;
	backdrop-filter: blur(3px);
}
.tecnologia__imagen:hover .tecnologia__imagen-detras{
	left: 0;
}
.tecnologia__titulo{
	font-size: 1.7em;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
	opacity: 0;
	transition: opacity .3s .3s;
	position: relative;
}
/** Bordes que decoran el titulo */
.tecnologia__titulo::before,
.tecnologia__titulo::after{
	content: "";
	height: 2px;
	width: 0;
	background: #759cff;
	position: absolute;
}
.tecnologia__titulo::before{
	top: -5px;
	left: -10px;
}
.tecnologia__titulo::after{
	bottom: -5px;
	right: -10px;
}
.tecnologia__imagen:hover .tecnologia__titulo::before,
.tecnologia__imagen:hover .tecnologia__titulo::after{
	width: calc(100% + 20px);
	transition: .3s .5s;
}
.tecnologia__porcentaje{
	font-size: 1.5em;
	color: #fff;
	opacity: 0;
	transition: opacity .3s .3s;
}
.tecnologia__imagen .tecnologia__porcentaje i{ transition: .3s .5s; }

/*? Opacidad de los textos de las tecnologias */
.tecnologia__imagen:hover .tecnologia__titulo,
.tecnologia__imagen:hover .tecnologia__porcentaje{
	opacity: 1;
}

/*? Colores de las baterias */
.tecnologia__imagen:hover .tecnologia__porcentaje .fa-battery-three-quarters{ color: rgb(0, 218, 0); }
.tecnologia__imagen:hover .tecnologia__porcentaje .fa-battery-half{ color: yellow; }
.tecnologia__imagen:hover .tecnologia__porcentaje .fa-battery-quarter{ color: orange; }

/*! PROYECTOS */
.proyectos{
	overflow: hidden;
}
.proyectos__galeria{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 200px;
	gap: 20px;
}
.proyecto{
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px #ccc;
}

/** CLASES ESPECIALES PROYECTOS */
.colspan-2{ grid-column: span 2; }
.rowspan-2{ grid-row: span 2; }

/*! FOOTER */
.footer{
	height:200px;
	background: #001a47;
	overflow: hidden;
}
.footer__contenedor{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.footer__subtitulo{
	font-size:2em;
	color:#fff;
}
.footer__contenedor-icono{
	display:inline-block;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px #000;
}
.footer__contenedor-icono:hover{
	background: #fff;
}
.footer__contenedor-icono:hover .footer__icono{
	color: #001a47;
}
.footer__icono{
	text-decoration: none;
	width:100%;
	line-height:60px;
	text-align: center;
	font-size:2em;
	color:#fff;
}





/*! MEDIA QUERIES */

/*? 900px */
@media screen and (max-width:900px){
	.tecnologia{
		width: 50%;
	}
}

/*? 800px */
@media screen and (max-width:800px){
	/*! ESTILOS GENERALES */
	.contacto{ font-size:1em; }
	
	/*! ADORNOS */
	.adorno{
		width: 150px;
		height: 150px;
	}
	.adorno-3, .adorno-4{
		width: 112.5px;
		height: 112.5px;
	}
	
	/*! NAVBAR */
	.hamburguesa{ display: block; }
	.menu{ display: none; }
	.menu-mobile{ display: flex; }

	/*! HEADER */
	.header__titulo{ font-size:2.5em; }
	.header__subtitulo{ font-size:1.5em; }

	/*! PRESENTACION */
	.presentacion__contenido{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.presentacion__img{ margin-top: 30px; }
	.presentacion__textos{ width: 100%; }

	/*! PROYECTOS */
	.proyectos__galeria{ grid-template-columns: repeat(2, 1fr); }

	/*! CLASES ESPECIALES */
	.md-colspan-1{ grid-column: span 1; }
	.md-rowspan-1{ grid-row: span 1; }
	.md-colspan-2{ grid-column: span 2; }
	.md-rowspan-2{ grid-row: span 2; }
}

/*? 600px */
@media screen and (max-width:600px){
	/*! NAVBAR */
	.hamburguesa{ right: 20px; }

	/*! TECNOLOGÍAS */
	.tecnologia__imagen{
		width: 200px;
		height: 200px;
	}
	.tecnologia__titulo{ font-size: 1.5em; }
}

/*? 500px */
@media screen and (max-width:500px){
	/*! ESTILOS GENERALES */
	.contenedor{ width:80%; }

	/*! ADORNOS */
	.adorno{
		width:100px;
		height:100px;
	}
	.adorno-3, .adorno-4{
		width:75px;
		height:75px;
	}

	/*! HEADER */
	.header__titulo{ font-size:2em; }
	.header__subtitulo{ font-size:1em; }

	/*! TECNOLOGÍAS */
	.tecnologia{
		width:100%;
	}

	/*! PROYECTOS */
	.proyectos__galeria{ grid-template-columns: 1fr; }

	/*! CLASES ESPECIALES */
	.sm-colspan-1{ grid-column: span 1; }
	.sm-colspan-1{ grid-row: span 1; }
}