---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Proyectos from '@/components/Proyectos.astro';
import Contacto from '@/components/Contacto.astro';
---

<Layout title="Manuel De Alba - Desarrollador web" description="Desarrollador web frontend con conocimientos en backend y bases de datos. Creación de sitios web personalizados y adaptados a las necesidades de cada cliente.">
	<Header />

	<main class='w-[90%] max-w-[1000px] mx-auto'>
		<Proyectos />

		<Contacto />
	</main>
</Layout>