<a href="https://www.linkedin.com/in/manuel-de-alba-63737625b" class="flex gap-2 items-center text-xs font-medium px-2.5 py-0.5 rounded-md outline outline-2 outline-green-600/80 text-white dark:outline-green-800/80 dark:text-white/90 hover:outline-4 transition-all duration-100">
    <div class="indicator size-1 bg-green-800 rounded-full"></div>
    Disponible
</a>

<style>
    .indicator{
        box-shadow: 0 0 0 2px rgb(22 101 52 / 50%),
                    0 0 0 1px rgb(22 101 52 / 30%);
        animation: pulse 5s infinite linear;
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 2px rgb(22 101 52 / 50%),
                        0 0 0 1px rgb(22 101 52 / 30%);
        }
        10% {
            box-shadow: 0 0 0 3px rgb(22 101 52 / 50%),
                        0 0 0 5px rgb(22 101 52 / 30%);
        }
        20% {
            box-shadow: 0 0 0 2px rgb(22 101 52 / 50%),
                        0 0 0 1px rgb(22 101 52 / 30%);
        }
    }
</style>