---
import Arroba from "./icons/Arroba.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from '@/components/icons/Mail.astro';
---

<section id="contacto" class="my-20">
    <h2 class="text-3xl text-gray-100 mb-8 flex items-center gap-4"><Arroba /> Contacto</h2>

    <div class="flex flex-col sm:flex-row gap-4">
        <a class="flex gap-2 justify-center items-center p-2 outline outline-2 hover:outline-4 outline-slate-500 rounded-md transition-all duration-100 ease-linear" href="https://github.com/ManuelDeAlba" target="_blank">
            <Github />
            <span>Github</span>
        </a>
        <a class="flex gap-2 justify-center items-center p-2 outline outline-2 hover:outline-4 outline-slate-500 rounded-md transition-all duration-200 ease-linear" href="https://www.linkedin.com/in/manuel-de-alba-63737625b/" target="_blank">
            <LinkedIn />
            <span>LinkedIn</span>
        </a>
    </div>
</section>

<section class="my-20">
    <h2 class="text-3xl text-gray-100 mb-8 flex items-center gap-4"><Mail /> Email</h2>

    <div class="flex gap-4 justify-center items-center">
        <span class="flex-1 px-4 py-2 bg-slate-500 rounded-md">manuel592003@gmail.com</span>
        <a class="block px-4 py-2 bg-blue-700 rounded-md" href="mailto:manuel592003@gmail.com">Enviar correo</a>
    </div>
</section>