---
import ProjectCard from "./ProjectCard.astro";
import Code from "./icons/Code.astro";
---

<section id="proyectos" class="my-20">
    <h2 class="text-3xl text-gray-100 flex items-center gap-4"><Code /> Proyectos</h2>

    <div class="grid md:grid-cols-2 gap-8 mt-8">

        <ProjectCard
            src="/harty.jpg"
            title="Harty"
            description={["Sitio web para la publicación y renta de terrazas. Cuenta con un sistema de autenticación, gestión de roles y herramientas para una visualización amigable."]}
            technologies={["html", "css", "js", "react", "firebase"]}
            github="https://github.com/ManuelDeAlba/harty"
            web="https://is-harty.netlify.app"
        />

        <ProjectCard
            src="/skillup.jpg"
            title="SkillUp"
            description={["Plataforma web que permite que los estudiantes encuentren oportunidades de trabajo, facilitando su inserción en el mercado laboral."]}
            technologies={["html", "css", "js", "react", "firebase"]}
            github="https://github.com/ManuelDeAlba/skillup"
            web="https://is-skillup.netlify.app"
        />

        <ProjectCard
            src="/homestockessentials.jpg"
            title="Homestockessentials"
            description={["Sitio web para la búsqueda y filtrado en el catálogo de productos."]}
            technologies={["html", "css", "js", "next", "firebase"]}
            web="https://homestockessentials.vercel.app/"
        />

        <ProjectCard
            src="/stockessentials.jpg"
            title="Stockessentials"
            description={["Sistema para gestión del inventario de artículos varios para el hogar. Con sistema de autenticación y herramientas para registrar compras, ventas, productos apartados, ingresos, egresos y registro de movimientos."]}
            technologies={["html", "css", "js", "react", "firebase"]}
        />

        <ProjectCard
            src="/wikirickymorty.jpg"
            title="Wiki Rick & Morty"
            description={["Wiki de Rick & Morty, con información de los personajes, episodios y ubicaciones de la serie utilizando React.js y la API de Rick & Morty."]}
            technologies={["html", "css", "js", "react"]}
            github="https://github.com/ManuelDeAlba/rickandmortyapi"
            web="https://wikirickymorty.netlify.app/"
        />

        <ProjectCard
            src="/vivero.jpg"
            title="FullStack App Vivero"
            description={["Frontend y backend para la administración de los proveedores, productos, compras y ventas de un vivero."]}
            technologies={["html", "css", "js", "react", "node", "sequelize", "postgresql"]}
            github="https://github.com/ManuelDeAlba/FullStack-App-Vivero"
        />

        <ProjectCard
            src="/photographyorozco.jpg"
            title="Photographyorozco"
            description={["Portafolio web Vanesa Orozco Photography - Fotografía profesional para Bodas, XV Años, Familia, Bebés"]}
            technologies={["html", "css", "js", "next"]}
            web="https://photographyorozco.vercel.app/"
        />

    </div>
</section>