---
import BackgroundBlob from "@/components/BackgroundBlob.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description?: string;
}

const { title, description="Manuel De Alba's Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JD397E26KW"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-JD397E26KW');
	</script>
	<body class="bg-slate-900 text-white">
		<BackgroundBlob />
		<slot />
	</body>
</html>

<style is:global>
	html{
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>